/bash
__pycache__
/*/__pycache__/
*.kate-swp
content/Hilda_and_her_Mother
content/Hilda_Collection
content/Hilda_Lesbian
content/Hilda_and_her_Mother/
content/Hilda_Collection/
content/Hilda_Lesbian/
/content/*/genCollection.py
/content/shortstory/
options.txt
content/Violet's_Sexual_Shenanigans
/content/story_of_a_cave/
/content/story_of_a_cave
content/Untitled_Folder
/content/shantae/
/content/shantae
/installer.py
