/bash
/__pycache__
*.kate-swp
content/Hilda_and_her_Mother
content/Hilda_Collection
content/Hilda_Lesbian
content/Hilda_and_her_Mother/
content/Hilda_Collection/
content/Hilda_Lesbian/
/content/*/genCollection.py
/content/shortstory/
options.txt
options.txt
